body {
  background-color:#0e0f28;
  color: white;
  font-family: 'Helvetica', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  min-height: 100vh;
  text-align: center;
  margin: 0;
}

p{
  color: white;
}

img {
  width: 250px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.5);
  margin-bottom: 1.5rem;
}

.content {
  max-width: 800px;
}

.assinatura {
  text-align: right;
  margin-top: 2rem;
  font-style: italic;
  color: #777;
}